**데이터처리2_pandas_기본문법1**

## 1. 데이터

**1-1 데이터의 구성**

tablular data : 행과 열로 이루어진 데이터
  
    열(column) : 데이터들의 특성을 나타냄
    행(row) : 특성에 따라 정의된 데이터 객체, 관측치

**1-2 데이터에 저장할 수 있는 값의 종류**

양적 변수

    숫자로 측정할 수 있는 값, 실수로 표현 가능

질적 변수

    분절되어 있으며, 숫자로 표현할 수 없음

**1-3 데이터 처리 작업**

1. 데이터 추려내기
2. 데이터 정제하기
3. 데이터 연산, 요약, 통계량 계산하기
4. 다른 데이터와 합치기
5. 그래프로 시각화하여 요약하기

**1-4 CSV 파일**

데이터를 콤마와 엔터로 구분하여 저장한 양식 -> 원시적인 형태

##2. pandas modul 활용 방법

**2-1 import pandas modul**

In [ ]:
import pandas as pd

**2-2 colab으로 데이터 불러오기**

데이터 불러오는 방법 `pd.read.csv('filename')`

데이터는 python에서 하나의 객체이므로 변수로 선언 가능

In [ ]:
df = pd.read_csv('credit.csv')

In [ ]:
df

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,18.701,5524,415,5,64,7,Female,No,No,Asian,966

데이터 프레임에 존재하는 column을 리스트 형태로 저장

In [ ]:
df.columns

Index(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Gender',
       'Student', 'Married', 'Ethnicity', 'Balance'],
      dtype='object')

**연습문제 1**

In [ ]:
result = []
for i in df.columns:
  if i.startswith('E'):
    result.append(i)
print(result)

['Education', 'Ethnicity']

# 3. 데이터 선택

**3-1 데이터 선택**

열단위 선택

`df['columnName']`

In [ ]:
df['Age']

0      34
1      82
2      71
3      36
4      68
       ..
395    32
396    65
397    67
398    44
399    64
Name: Age, Length: 400, dtype: int64

여러 열을 동시에 선택

`df['column list']`

In [ ]:
df[['Age', 'Education']]

     Age  Education
0     34         11
1     82         15
2     71         11
3     36         11
4     68         16
..   ...        ...
395   32         13
396   65         17
397   67         12
398   44         13
399   64          7

[400 rows x 2 columns]

행단위 선택

`df.loc[index number]`

In [ ]:
df.loc[1:5]

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
5,80.180,8047,569,4,77,10,Male,No,No,Caucasian,1151

데이터 선택 후 추가 연산

In [ ]:
df[['Age', 'Education']].loc[0:4]

   Age  Education
0   34         11
1   82         15
2   71         11
3   36         11
4   68         16

**3-2 조건에 맞는 데이터 선택**

질문에 대하여 각 인덱스별로 참,거짓 여부를 boolean 값으로 return

In [ ]:
df['Income']>50

0      False
1       True
2       True
3       True
4       True
       ...
395    False
396    False
397     True
398    False
399    False
Name: Income, Length: 400, dtype: bool

조건을 만족하는 것들만 추려내는 것이 가능

In [ ]:
df[df['Income']>50]

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
5,80.180,8047,569,4,77,10,Male,No,No,Caucasian,1151
...,...,...,...,...,...,...,...,...,...,...,...
381,101.788,8029,574,2,84,11,Male,No,Yes,Caucasian,849
389,83.948,7100,503,2,44,18,Male,No,No,Caucasian,806
390,135.118,10578,747,3,81,15,Female,No,Yes,Asian,1393
391,73.327,6555,472,2,43,15,Female,No,No,Caucasian,721
397,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138

조건이 여러개인 경우

-> 조건 연산자를 이용하여 표현

In [ ]:
df[(df['Income']>50) & (df['Student'] == 'Yes')]

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
9,71.061,6819,491,3,41,19,Female,Yes,Yes,African American,1350
41,113.659,7659,538,2,66,15,Male,Yes,Yes,African American,1155
102,68.713,7582,531,2,56,16,Male,Yes,No,Caucasian,1587
128,123.299,8376,610,2,89,17,Male,Yes,No,African American,1259
157,56.256,5521,406,2,72,16,Female,Yes,Yes,Caucasian,1020
191,124.290,9560,701,3,52,17,Female,Yes,No,Asian,1687
203,68.206,6784,499,5,40,16,Female,Yes,No,African American,1411
261,180.379,9310,665,3,67,8,Female,Yes,Yes,Asian,1050
279,54.319,3063,248,3,59,8,Female,Yes,No,Caucasian,269
365,113.772,6442,489,4,69,15,Male,Yes,Yes,Caucasian,790
373,55.412,5354,383,2,37,16,Female,Yes,Yes,Caucasian,1003

Query를 이용해 필터링

In [ ]:
df.query("Income>50")

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
5,80.180,8047,569,4,77,10,Male,No,No,Caucasian,1151
...,...,...,...,...,...,...,...,...,...,...,...
381,101.788,8029,574,2,84,11,Male,No,Yes,Caucasian,849
389,83.948,7100,503,2,44,18,Male,No,No,Caucasian,806
390,135.118,10578,747,3,81,15,Female,No,Yes,Asian,1393
391,73.327,6555,472,2,43,15,Female,No,No,Caucasian,721
397,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138

In [ ]:
df.query("Income>50 & Student=='Yes' & Age>80")

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
128,123.299,8376,610,2,89,17,Male,Yes,No,African American,1259

값을 변수로 설정하여 조건을 주고 싶은 경우

In [ ]:
x = 70

In [ ]:
f"Age>{x}"

'Age>70'

In [ ]:
x = 25
df.query(f"Age<{x}")

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
43,36.929,6257,445,1,24,14,Female,No,Yes,Asian,976
152,41.419,2120,184,4,24,11,Female,Yes,No,Caucasian,156
335,24.314,3409,270,2,23,7,Female,No,Yes,Caucasian,194
392,25.974,2308,196,2,24,10,Male,No,No,Asian,0

**연습문제 1-2**

1

In [ ]:
print(len(df.query("Limit>5000 & Gender =='Female'")))
print(len(df.query("Limit>5000 & Gender =='Male'")))

92
76

2

In [ ]:
print(len(df.query("Ethnicity=='Asian' & Rating>500")))

17

3

In [ ]:
df['Score'] = 2*df['Balance']-df['Income']

In [ ]:
print(df['Score'])

0       651.109
1      1699.975
2      1055.407
3      1779.076
4       606.118
         ...
395    1107.904
396     946.636
397     218.128
398     -37.728
399    1913.299
Name: Score, Length: 400, dtype: float64

**연습문제 2-1**

1

In [ ]:
len(df.query("Gender=='Female' & Age>=30 & Age<40"))

28

2

In [ ]:
len(df.query("Income<50 & Balance<200 & Gender=='Male'"))

55

# 4. 데이터 연산

In [ ]:
print(df['Income'].mean())
print(df['Income'].std())
print(df['Income'].max())
print(df['Income'].min())
print(df['Income'].median())

45.218885
35.244273165070524
186.634
10.354
33.1155

In [ ]:
import numpy as np

In [ ]:
print(np.mean(df['Income']))
print(np.std(df['Income']))
print(np.max(df['Income']))
print(np.min(df['Income']))
print(np.median(df['Income']))

45.218885
35.20019025455367
186.634
10.354
33.1155

In [ ]:
np.quantile(df['Income'],0.25)

21.00725

In [ ]:
np.quantile(df['Income'],0.75)

57.47075

전체 연산

In [ ]:
df.describe()

,Income,Limit,Rating,Cards,Age,Education,Balance,Score
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000,520.015000,994.811115
std,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207,459.758877,903.716188
min,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000,0.000000,-92.112000
25%,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000,68.750000,93.291000
50%,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000,459.500000,886.177500
75%,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000,863.000000,1677.408500
max,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000,1999.000000,3815.272000

In [ ]:
df.describe()['Income']

count    400.000000
mean      45.218885
std       35.244273
min       10.354000
25%       21.007250
50%       33.115500
75%       57.470750
max      186.634000
Name: Income, dtype: float64

In [ ]:
df.describe()['Income'].loc['mean']

45.218885

**연습문제 2-2**

1

In [ ]:
male_med = df.query("Gender=='Male'")['Income'].median()
female_med = df.query("Gender=='Female'")['Income'].median()

In [ ]:
print(male_med, female_med)

33.437 32.164

2

In [ ]:
low = np.quantile(df['Income'],0.25) #소득 하위 25%
high = np.quantile(df['Income'],0.75) #소득 상위 25%

In [ ]:
print(low, high)

21.00725 57.47075

In [ ]:
low_bal = df[df['Income']<low]['Balance'].mean() #소득 하위 25% 이하의 재산
high_bal = df.query(f"Income>{high}")['Balance'].mean() #소득 상위 25% 이상의 재산

In [ ]:
print(low_bal, high_bal)

379.69 848.89

# 5. 데이터 반환

**5-1 사용자 정의 함수를 활용한 변환**

사칙연산 가능

In [ ]:
df['Income']*50

0       744.55
1      5301.25
2      5229.65
3      7446.20
4      2794.10
        ...
395     604.80
396     668.20
397    2893.60
398    1886.40
399     935.05
Name: Income, Length: 400, dtype: float64

열끼리의 사칙연산도 가능

In [ ]:
df['Income']-df['Balance']

0     -318.109
1     -796.975
2     -475.407
3     -815.076
4     -275.118
        ...
395   -547.904
396   -466.636
397    -80.128
398     37.728
399   -947.299
Length: 400, dtype: float64

함수를 정의한 후 `apply`라는 명령어와 함께 사용

In [ ]:
def double(x):
  return 2*x

double(2)

4

In [ ]:
df['Income']*2

0       29.782
1      212.050
2      209.186
3      297.848
4      111.764
        ...
395     24.192
396     26.728
397    115.744
398     75.456
399     37.402
Name: Income, Length: 400, dtype: float64

In [ ]:
df['Income'].apply(double)

0       29.782
1      212.050
2      209.186
3      297.848
4      111.764
        ...
395     24.192
396     26.728
397    115.744
398     75.456
399     37.402
Name: Income, Length: 400, dtype: float64

**연습문제 2-3**

In [ ]:
def ageProc(x):
  if x<30:
    return 'Young'
  elif x<60:
    return 'Mature'
  else:
    return 'Old'

In [ ]:
df['AgeCategory'] = df['Age'].apply(ageProc)

In [ ]:
df

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance,Score,AgeCategory
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333,651.109,Mature
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903,1699.975,Old
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580,1055.407,Old
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964,1779.076,Mature
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331,606.118,Old
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560,1107.904,Mature
396,13.364,3838,296,5,65,17,Male,No,No,African American,480,946.636,Old
397,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138,218.128,Old
398,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0,-37.728,Mature
399,18.701,5524,415,5,64,7,Female,No,No,Asian,966,1913.299,Old

**연습문제 2-4**

In [ ]:
def asianProc(x):
  if x['Ethnicity'] == 'Asian':
    return x['Rating']+50
  else:
    return x['Rating']-50

In [ ]:
df['newRating'] = df.apply(asianProc, axis=1)

In [ ]:
df

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance,Score,AgeCategory,newRating
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333,651.109,Mature,233
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903,1699.975,Old,533
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580,1055.407,Old,564
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964,1779.076,Mature,731
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331,606.118,Old,307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560,1107.904,Mature,257
396,13.364,3838,296,5,65,17,Male,No,No,African American,480,946.636,Old,246
397,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138,218.128,Old,271
398,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0,-37.728,Mature,142
399,18.701,5524,415,5,64,7,Female,No,No,Asian,966,1913.299,Old,465