**데이터처리1_파이썬기본문법1**

값, 변수, 연산자

## 1.값(value)##

* 숫자
* 문자 ; 숫자가 아닌 모든 것
* 불리언 ; 참과 거직 두 가지 경우만을 나타내는 특수한 값 (주로 조건문)

**1-1 숫자**

In [ ]:
1 #양의 정수

1

In [ ]:
-1 #음의 정수

-1

In [ ]:
0

0

In [ ]:
3.141592 #양의 소수

3.141592

In [ ]:
-3.141592 #음의 소수

-3.141592

**1-2 문자**

In [ ]:
"abc 123 @@!##" #문자; 따옴표 안에 적어서 인식

'abc 123 @@!##'

**1-3 불리언**

In [ ]:
True #불리언값 ; 참

True

In [ ]:
False #불리언값 ; 거짓

False

##2. 변수(variable)##
* 값 : 프로그램이 처리하는 기본 단위

특정 값을 여러번 사용하기 위해 별명(=변수명)을 붙여 값을 불러냄

**2-1 변수의 선언**

In [ ]:
x = 3.141592
#변수 선언 방법:변수 = 값
#x라는 변수가 3.1415192라는 값을 가리키도록 함

In [ ]:
x #변수를 선언하면 프로그램의 다른 부분에서 변수명으로 변수가 가리키는 값을 불러낼 수 있음

3.141592

In [ ]:
x = "hello" #이미 선언된 변수가 다른 값을 가지게 할 수 있음

In [ ]:
x

'hello'

In [ ]:
x = True

In [ ]:
x #변수는 가장 최근에 선언된 값을 가리킴

True

**2-2 명령어 print**

In [ ]:
x = "hello world"
print(x) #변수가 가리키는 값을 출력

hello world

In [ ]:
print(123456777) #겂 자체를 출력할 수도 있음

123456777

**2-3 변수명과 규칙**

* 숫자로 시작할 수 없다.
* _를 제외하곤 특수문자를 사용할 수 없다.
* 공백을 사용할 수 없다.
* 명령어는 변수명으로 선언할 수 없다.
 
 print, if, for, while, def. input, class, list, dict, set, 등
* 위를 지키는 한 어떤 변수명도 사용할 수 있다.

In [ ]:
3a = 1 
print(3a)
#변수명의 첫 글자로 숫자를 사용할 수 없다.

SyntaxError: ignored

In [ ]:
abc! = 1
print(abs!)
#변수명으로 _를 제외한 특수문자를 사용할 수 없다.

SyntaxError: ignored

In [ ]:
while = 1
print(while)
#변수명으로 명령어를 사용할 수 없다.

SyntaxError: ignored

##3. 연산자##

* 두 개의 값을 결합하여 새로운 값을 만들어내는 기호
 
 숫자 사이의 연산자 : 사칙연산 (+, -, *, /) , 제곱(***), 몫(//) 나머지(%)
 
 문자열 사이의 연산자 : 문자열 붙이기

 불리언값 사이의 연산자 : and, not, or

 비교연산자 : 양쪽 값의 크기를 비교하는 연산자 (>, <, >=, <=, ==, !=)

**3-1 숫자 사이의 연산**

In [ ]:
#숫자 사이의 사칙연산
print(10+10) #더하기
print(15-5) #빼기
print(6*7) #곱하기
print(30/5) #나누기

20
10
42
6.0

In [ ]:
#숫자 사이의 기타 연산
print(5**2) #x**y : x의 y제곱
print(5//2) #x//y : x 나누기 y의 몫
print(5%2) #x%y : x 나누기 y의 나머지

25
2
1

**3-2 문자 사이의 연산**

In [ ]:
#문자 사이의 연산
print("hello"+"world") #문자+문자 : 두 문자를 붙이기
print("hello"*5) #문자*숫자 : 문자를 숫자만큼 반복

helloworld
hellohellohellohellohello

**3-3 불리언 사이의 연산**

In [ ]:
#불리언값 사이의 연산 : and 
print(True and True) #참
print(True and False) #거짓
print(False and True) #거짓
print(False and False) #거짓
#양쪽이 모두 참이어야 참

True
False
False
False

In [ ]:
#불리언값 사이의 연산 : or
print(True or True) #참
print(True or False) #참
print(False or True) #참
print(False and False) #거짓
#양쪽 중 하나가 참이면 참

True
True
True
False

In [ ]:
#불리언값 사이의 연산 : not
print(not True) #거짓
print(not False) #참
#부정 > 기존의 결과를 반대로 출력

False
True

**3-4 비교연산자**

In [ ]:
#비교연산자 
print(3>5) #크다
print(3>=5) #크거나같다
print(3<5) #작다
print(3<=5) #작거나같다
print(3==5) #같다
print(3!=5) #다르다
#비교연산자의 연산 결과는 항상 불리언값으로 출력됨

False
False
True
True
False
True

**3-5 변수를 사용한 연산**

In [ ]:
#값과 변수간의 연산
x = 11
print(x+5)
print(x*5)
print(x>5)

16
55
True

In [ ]:
#변수와 변수간의 연산
x = 10
y = 5
z = 'hello'
print(x-y)
print(x/y)
print(x==y)
print(z*y)

5
2.0
False
hellohellohellohellohello

**3-6 연산의 결과를 변수에 저장**

* 변수명 = 연산

In [ ]:
x = 3
y = 5
result = x+y
print(result)
#연산의 결과를 값에 저장할 수 있다.

8

**3-7 연산의 우선순위**
* 왼쪽에서 오른쪽으로 실행
* 제곱 > 곱하기/나누기 > 더하기/빼기 순서로 실행
* 괄호가 있을 때는 괄호 안에 있는 연산부터 실행

In [ ]:
print(5+4-3) #왼쪽에서 오른쪽으로
print(5+4-8/4) #곱하기/나누기부터 실행
print(7+5*3**2) #제곱부터 실행
print(7+(5*3)**2) #괄호부터 실행
#좋은 코딩 습관은 괄호를 사용하여 자신이 나타내고자 하는 바를 명확히 표현하는 것!

6
7.0
52
232

##연습문제##

1. 파이썬을 계산기로 사용해서 답이 True인 부등식을 3개 만든다.

In [ ]:
print(3<5)
print(8>=1)
print(7==7)

True
True
True

2. 파이썬을 계산기로 사용해서 답이 False인 부등식을 3개 만든다.

In [ ]:
print(12<5)
print(5<=2)
print(5!=5)

False
False
False

3. 파이썬을 계산기로 사용하여 다음 연산을 한다.

In [ ]:
print(3*2-5/4) #6-1.25=4.75
print(25*6/3+17) #50+17=67
print(39021-276920/12040) #39021-23=38998
print(2**6-10%6) # 64-4=60

4.75
67.0
38998.0
60

4. 파이썬을 계산기로 사용하여 다음 연산을 한다.

In [ ]:
print(12-(5*7+1)) #12-36=-24
print(5*(8+(10-6)/2)) #50
print(48320-((365-5*9)/16)*987) #48320-(320/16)*987=48320-19740=28580
print(((3**4-3*7)%5+4)**2) #16

-24
50.0
28580.0
16

5. 변수를 선언하고 다음 수식을 계산해 보자.

In [ ]:
#변수선언
x = 3
y = 2
z = 7
j = 5
k = 9

print((2*x-1)**2+1) #26
print(x**(2*y)*(z+10)) #1377
print((j==0)and(0<k)) #False

26
1377
False

**-마침-**