**데이터처리1_파이썬기본문법3**

##1. 함수##

* 어떤 코드를 실행하기로 컴퓨터와 맺은 약속
* 함수 이름의 호출만으로 약속에 따라 프로그램 실행
* 함수의 정의:
       def 함수이름():
       코드
       코드
       …

In [ ]:
#두 줄을 실행하는 코드 함수로 정의하기
def hello_world(): #함수 정의
  print("hello")
  print("world")

hello_world() #함수 실행

hello
world

**1-1 함수와 입력변수**

In [ ]:
def double(x): #함수이름(입력변수)
  result = 2*x
  print(result)

double(5) #함수 코드의 입력변수 자리에 해당 숫자들이 대입됨
double(12)
double(3)

#즉, 함수가 어떤 값을 받으면 해당 값을 입력변수인 x에 입력함

10
24
6

In [ ]:
my = double(7) 
print(my) #None

#함수에서는 이 결과물을 출력하는 것 뿐, 이 것을 다시 다른 변수가 재활용할 수 있게 하지 않음
#이 결과물을 함수 밖에서 다시 사용하고 싶다면 출력변수를 사용해야함.

14
None

**1-2 출력변수의 정의**

* 함수에서 처리된 결과값을 프로그램의 다른 부분에서 활용하고 싶다면 출력변수를 정의해야 함

* 처리된 결과를 return 명령어를 이용하여 처리

* return 명령어 사용 구조:
        def 함수이름(입력변수):
        코드
        코드
        …
        return 출력변수

In [ ]:
def double(x):
  result = 2*x #출력변수 정의
  return result #return 명령어를 통해 변수 result 출력

y = double(2)
print(y)
y = double(4)
print(y)

4
8

**1-3 입력값이 여러개인 함수**

* 입력변수를 여러개 사용하여 함수를 정의하고 싶다면 서로 다른 이름의 변수를 콤마를 사용하여 구분하여 넣는다.

In [ ]:
#입력변수가 두 개인 함수
def jegop(x,y):
  return x**y

k = jegop(2,3)
print(k)

8

In [ ]:
#입력변수가 세 개인 함수
def hamsu(x,y,z):
  return x+y-z

i = hamsu(5,9,3)
print(i)

11

**1-4 지역변수**

* 지역변수(local variable) : 함수의 입출력에 사용된 변수
* 지역변수는 해당 함수 내에서만 유용하다

In [ ]:
def tentimes(x):
  result = x*10
  return result

In [ ]:
print(result)

#오류 발생 : result라는 변수는 선언되지 않음.
#tentimes 함수 내에 사용한 result라는 변수는 그 함수 안에서한 효용을 가짐

NameError: ignored

In [ ]:
result = 10
tentimes(2)
print(result)
#함수 내에서 정의된 입력변수 혹은 출력변수는 실제 프로그램 밖에서 사용하는 변수에 영향을 미치지 않음.

10

**연습문제**

1. 어떤 수 n을 입력하면 1부터 n까지의 합을 계산하여 출력하는 함수를 만들어 보시오. 

    함수의 이름은 my_sum이고, 입력변수는 number, 출력변수는 result이다.

In [ ]:
def my_sum(number):
  result = 0
  for i in range(number):
    result =result + (i+1)
  return result

number = int(input("정수를 입력하세요."))
my_sum(number)

정수를 입력하세요.10

55

2. 어떤 수 n을 입력하여 짝수면 True, 홀수면 False를 입력하는 함수를 만들어 보시오.

In [ ]:
def check_even(number):
  if number==0:
    result = "입력된 숫자는 0입니다."
  elif number%2==0:
    result = "입력된 숫자는 짝수입니다."
  else:
    result = "입력된 숫자는 홀수입니다."
  return result

number = int(input("숫자를 입력하세요."))
check_even(number)

숫자를 입력하세요.2

'입력된 숫자는 짝수입니다.'

3. 윤년을 나타내는 수가 입력되면 윤년이라는 문자열을, 그렇지 않은 수가 입력되면 평년이라는 문자열을 반환하는 함수를 만든다.

In [ ]:
윤년이뭔지씨발내가어케알아
아진짜개열받네ㅆㅂ

4. 평년일 때 1, 3, 5, 7, 8, 10, 12월은 31일, 4, 6, 9, 11월은 30일, 2월은 28일이다. 월을 나타내는 숫자를 입력하면 그 달의 날짜 수를 반환하는 함수 days_project를 만든다.

In [ ]:
def days_project(month):
  if month == 2:
    days = "해당 월의 날짜 수는 28일 입니다."
  elif month == 1 or 3 or 5 or 7 or 8 or 10 or 12:
    days = "해당 월의 날짜 수는 31일 입니다."
  elif month == 4 or 6 or 9 or 11:
    days = "해당 월의 날짜 수는 30일 입니다."
  else:
    days = "존재하지 않는 달입니다."
  return days

month = int(input("월을 나타내는 숫자를 입력하세요."))
days_project(month)

월을 나타내는 숫자를 입력하세요.5

'해당 월의 날짜 수는 31일 입니다.'

**1-6 함수를 사용한 프로그램 구조화**

* 함수를 이용하여 프로그램을 구조화하면 유지 보수가 쉬워진다.

* 함수를 이용하여 패턴화 시켜놓으면 특정 부분만 고치면 되기 때문에 더욱 편리해짐.

In [ ]:
def print_line():
  print('='*50)

def print_five():
  for i in range(5):
    print('hello world')

def print_star():
  print('*'*50)

print_line()
print_star()
print_five()
print_star()
print_line()
#함수를 미리 지정해놓으면 해당 코드를 하나하나 치지 않아도 빠르게 완성할 수 있다.
#출력되는 문자나 기호 등을 바꾸고 싶을 때는 함수만 살짝 바꿔주면 되기 때문에 유지 보수가 간편하다.

==================================================
**************************************************
hello world
hello world
hello world
hello world
hello world
**************************************************
==================================================

**1-7 함수의 입출력값에는 제한이 없다**

* 입력값의 형태를 강력하게 제한하지 않으면 파이썬은 유연하게 받아들임.

* 하지만 이로 인해 오류가 발생할 수 있으므로 주의해야함.

In [ ]:
def sum_list(a): #a의 형태를 지정하지 않음
  result=0
  for i in a:
    result = result + i
  return result

#하지만 파이썬은 유연하게 이를 리스트로 받아들여 함수 실행

a = [1,2,3,4,5]
sum_list(a)

b = 3 #따라서 입력변수로 정수값을 넣었을 때 오류가 발생함.
sum_list(b)

TypeError: ignored

**1-8 함수 안의 함수**

In [ ]:
def print_line():
  print('='*50)

def print_five():
  for i in range(5):
    print('hello world')

def print_star():
  print('*'*50)

def main():
  print_line()
  print_star()
  print_five()
  print_star()
  print_line()

main()

==================================================
**************************************************
hello world
hello world
hello world
hello world
hello world
**************************************************
==================================================

In [ ]:
def square(x): #입력변수의 제곱값을 출력하는 함수 정의
  return x**2  

def my_sum(x):
  result = 0
  for i in range(x+1):
    result = result + square(i) #1부터 x까지 제곱 수들을 더하는 코드 작성
  return result

a = int(input("숫자를 입력하시오."))
print(my_sum(a))

숫자를 입력하시오.5
55

**연습문제**

1. 다음 함수들을 이용하여 짝수만 더하여 출력하는 함수를 계산해 보시오.

이용할 함수:

        check_even : 주어진 수가 짝수일 때 True, 아닐 때 False를 반환하는 함수
        my_even_sum : 1부터 주어진 number까지 짝수만 더하여 출력하는 함수

In [ ]:
def check_even(x):
  if x % 2 == 0:
    state = True
  elif x % 2 == 1:
    state = False
  return state

def my_even_sum(number):
  result = 0
  for i in range(number):
      if check_even(i+1)==True:
        result = result + (i+1)
      else:
        result = result
  return result

number = int(input("숫자를 입력하세요."))
my_even_sum(number)

숫자를 입력하세요.10

30

**1-9 함수의 결과값을 입력값으로 사용**

In [ ]:
def f(x):
  return x**2

def g(y):
  return y+1

print(g(f(3))) #f(3)=9를 g(y)에 대입 > g(9)=10

10

**함수가 필요한 이유**

* 프로그램이 복잡해지면서 다양한 구문들이 등장 > 이러한 구문들은 프로그램의 다양한 부분에서 재활용됨

* 자주 사용하는 구문들은 함수로 묶어 그 이름만 불러 재활용 > 모듈화 가능, 유지보수 편리

##2. 리스트##

**2-1 리스트의 성질**

In [ ]:
[1,2,3] #리스트 선언 방법

[1, 2, 3]

In [ ]:
x = [1,2,3,4,5] #리스트를 변수에 저장하여 출력할 수 있음
print(x)

[1, 2, 3, 4, 5]

In [ ]:
albist = ["hello", 2.0, 5, [10,20]] 
print(albist)
#리스트 안에는 문자, 정수, 리스트 등을 타입에 제약 없이 저장 가능함

['hello', 2.0, 5, [10, 20]]

**2-2 리스트 인덱싱**

* 인덱스 : 리스트에 저장된 개별 값의 구조
* 리스트의 인덱스 값은 0부터 시작
* 리스트 n번째 값 = 리스트[n-1]

In [ ]:
a = [1,2,3,4,5,6]

In [ ]:
a[0]

0

In [ ]:
a[3]

4

**2-3 리스트 슬라이싱**
* x[a:b] = [x[a], x[a+1], …, x[b-1]]
* x[:a] = [x[0], x[1], …, x[a-1]]
* x[a:] = [x[a]. x[a+1], …]

In [ ]:
a = [1,2,3,4,5,6]

In [ ]:
print(a[1:3])

[2, 3]

In [ ]:
print(a[:2])

[1, 2]

In [ ]:
print(a[2:])

[3, 4, 5, 6]

**2-4 리스트 값 변경**

* 리스트명[인덱스] = 바꿀값

In [ ]:
x = list(range(1,10,2)) #1부터 10까지 홀수만
x

[1, 3, 5, 7, 9]

In [ ]:
x[0] = 11
x

[11, 3, 5, 7, 9]

In [ ]:
x[1] = 12
x

[11, 12, 5, 7, 9]

**2-5 리스트에 값 추가하기**

* 리스트명.append(추가할 값)

In [ ]:
x.append(1)
x
#추가한 값은 가장 끝에 포함됨

[11, 12, 5, 7, 9, 1]

In [ ]:
x.append(3)
x

[11, 12, 5, 7, 9, 1, 3]

**2-6 리스트에서 값 지우기**

* del 리스트명[인덱스]

In [ ]:
del x[0]
x

[12, 5, 7, 9, 1, 3]

In [ ]:
del x[0]
x

[5, 7, 9, 1, 3]

In [ ]:
del x[3]
x

[5, 7, 9, 3]

**2-7 복수할당**

In [ ]:
x = [1,2,3]
a,b,c = x

In [ ]:
print(a,b,c)

1 2 3

**2-8 리스트 메소드**

* 리스트명.insert(n,x) : n번째 인데스에 x 추가
* 리스트명.count(x) : 리스트 안의 x 개수
* 리스트명.sort() : #리스트 안의 숫자 오름차순으로 정렬

In [ ]:
#insert
mylist = [5,27,3,12]
mylist.insert(1,12) #1번 인덱스에 12 추가
mylist.insert(3,50) #3번 인덱스에 50 추가
print(mylist)

#count
print(mylist.count(12)) #리스트 내의 12 개수

#sort
mylist.sort() #리스트 안의 숫자 오름차순으로 정렬
print(mylist)

[5, 12, 27, 50, 3, 12]
2
[3, 5, 12, 12, 27, 50]

**연습문제**

1. 어떤 학생이 5개의 과목을 수강하여 다음과 같은 성적을 받았다. (4점만점):

    
    X = 4,3,2,3,4

이 5개 과목의 이수 학점은 각각 다음과 같다.:


    W = 3,3,1,2,2
이 때 평균 평점은 성적의 단순 평균이 아니라 이수 학점을 가중치로 써서 다음과 같이 가중 평균을 구해야 한다.:

    가중합(성적과 이수 학점을 곱한 값의 총합)/이수학점의총합
i번째 과목의 성적을 X(i)라고 하고, i번째 과목의 이수 학점을 W(i)라고 하면 가중 평균은 다음과 같은 수식으로 나타낼 수 있다.:

    W(1)X(1) + W(2)X(2) + … + W(i)X(i) + … + W(n)X(n) / W(1) + W(2) + … + W(i) + … + W(n)
이 학생의 평균 평점을 구하는 코드를 작성한다.

In [ ]:
X = [4,3,2,3,4]
W = [3,3,1,2,2]
numerator = 0
denominator = 0

for i in range(5):
   numerator = numerator + X[i]*W[i]
   denominator = denominator + W[i]

weightedSum = numerator/denominator
print("평균 학점은",weightedSum,"입니다.")

2. 자료의 분산은 각 자료 값에서 자료의 평균값을 뺀 나머지를 제곱한 값의 평균을 말한다.

예를 들어 자료가 다음과 같다고 하자.:

    X = 6,5,4,7,3,6
이 자료의 평균은 다음과 같다.:

    (6+5+4+7+3+6)/6 = 5
각 자료 값에서 자료의 평균값을 뺀 나머지를 제곱한 값을 모두 더한 값의 평균은 다음과 같이 구한다.:

    { (6-5)^2 + (5-5)^2 + (4-5)^2 + (7-5)^2 + (3-5)^2 + (5-5)^2 }/6
이 자료의 분산을 구하는 코드를 작성한다.