**데이터처리1_파이썬기본문법2**

프로그램의 흐름 제어

* Sequences : 위에서 아래로
* Selection : 조건에 따라서 ; 조건문
* Loops : 반복 ; 반복문

##1. 조건문 (Selection)##

* 조건에 따라 프로그램의 흐름을 바꾸고 싶을 때 사용



* 조건문의 구조:

        if 참 또는 거짓을 가지는 값:
            조건이 참일 때 실행되는 명령
        else:
            조건이 거짓일 때 실행되는 명령

1-1 if문

In [ ]:
 #if문

 if True: #조건문
   print("Hello world") #조건문이 참일 때 실행되는 명령

Hello world

In [ ]:
if False:
  print("Hello world")
#조건문이 거짓일 때는 실행되지 않음

In [ ]:
#코드블럭; 같은 들여쓰기 레벨
if True:
  print("Hello")
  print("World")
  print("Python")
#if문에 대하여 조건문이 참일 때 같은 코드블럭의 명령들은 모두 실행됨
#즉, 해당 조건문에 대하여 들여쓰기 되어있는 같은 명령들은 모두 실행됨

Hello
World
Python

1-2 비교연산자와 함께 if문 사용

In [ ]:
x=3
if x<4:
  print("Hello world")
#조건문이 참이므로 Hello world 출력

Hello world

In [ ]:
x=8
if x<4:
  print("Hello world")
#조건문이 거짓일 때는 실행되지 않음

1-3 if-else문

In [ ]:
x=30
if x<20:
  print("x는 20보다 작은 값이다.") #조건문이 참일 때 실행되는 명령
else:
  print("x는 20보다 큰 값이다.") #조건문이 거짓일 때 실행되는 명령

#조건문이 거짓이므로 else문의 명령이 실행됨

x는 20보다 큰 값이다.

1-4 조건이 두 개 이상일 때

In [ ]:
x=12
if x>20:
  print("x는 20보다 큰 값이다.")
else: #첫 번째 조건문이 거짓일 때 적용할 조건 나열
  if x>10:
    print("x는 10보다 큰 값이다.")
  else: 
    print("x는 10보다 작은 값이다.")

  #첫 번째 조건문이 거짓이므로 else문으로 이동
  #else문의 조건이 참이므로 "x는 10보다 큰 값이다." 출력

x는 10보다 큰 값이다.

1-5 else와 if의 결합 ; elif문

In [ ]:
x=12
if x>20:
  print("x는 20보다 큰 값이다.")
elif x>10:
  print("x는 10보다 큰 값이다.")
else:
  print("x는 10보다 작은 값이다.")

#조건이 여러개일 때는 elif문을 사용하여 중첩을 피하고 가독성을 높임

x는 10보다 큰 값이다.

**연습문제**

1. 어떤 농장에서는 수박이 10kg이 넘으면 1등급, 그렇지 않고 7kg이 넘으면 2등급, 그렇지 않고 4kg이 넘으면 3등급, 나머지는 4등급을 준다고 한다. 이 수박의 등급을 정하는 파이썬 코드를 작성한다.

In [ ]:
a = int(input("수박의 무게를 입력하시오"))

if a>10:
  print("이 수박의 등급은 1등급 입니다.")
elif 7<a<=10:
  print("이 수박의 등급은 2등급 입니다.")
elif 4<a<=7:
  print("이 수박의 등급은 3등급 입니다.")
else:
  print("이 수박의 등급은 4등급 입니다.")

수박의 무게를 입력하시오15
이 수박의 등급은 1등급 입니다.

2. 죄수의 딜레마는 게임 이론의 유명한 사례이다.

    죄수의 딜레마:
        두 명의 범죄자 A, B가 체포되어 서로 다른 취조실에서 격리되어 심문을 받고 있다. 이들에게 자백 여부에 따라 다음의 선택이 가능하다.

        * 둘 중 하나가 배신하여 죄를 자백하면 자백한 사람은 즉시 풀어주고 나머지 한 명이 10년을 복역해야 한다.
        * 둘 모두 서로를 배신하여 죄를 자백하면 둘 다 5년을 복역한다.
        * 둘 모두 죄를 자백하지 않으면 둘 다 1년을 복역한다.

    죄수를 나타내는 변수 XA, XB는 자백하면 True, 그렇지 않으면 False를 가지는 값이다. 이때 변수 XA, XB의 값에 따라 각각이 복역해야 하는 연 수를 변수 YA, YB라고 할 때, YA, YB를 계산하는 프로그램을 만든다.

In [ ]:
XA = input("A의 취조 결과를 True 또는 False로 입력하시오.")
XB = input("B의 취조 결과를 True 또는 False로 입력하시오.")

if XA=="True":
  if XB=="True":
    YA=5
    YB=5
  elif XB=="False":
    YA=0
    YB=10
  else:
    print("잘못된 취조 결과입니다.")
elif XA=="False":
  if XB=="True":
    YA=10
    YB=0
  elif XB=="False":
    YA=1
    YB=1
  else:
     print("잘못된 취조 결과입니다.")
else:
   print("잘못된 취조 결과입니다.")

a=(XA=="True")or(XA=="False")
b=(XB=="True")or(XB=="False")

if (a and b)==True:
  print("A가 복역해야 할 연 수는",YA,"년, B가 복역해야 할 연 수는",YB,"년 입니다.")

A의 취조 결과를 True 또는 False로 입력하시오.True
B의 취조 결과를 True 또는 False로 입력하시오.False
A가 복역해야 할 연 수는 0 년, B가 복역해야 할 연 수는 10 년 입니다.

##2. 반복문 (Loofs)##

코드가 일정한 횟수 또는 조건에 따라 반복적으로 실행되는 구조

* for를 이용한 반복:

        for 카운터변수 in 리스트:
            반복할 구문
* range를 이용한 반복:

        for 카운터변수 in range(숫자):
        반복할 구문
* while을 이용한 반복

**2-1 리스트**

* 여러 개의 값을 순서에 따라 담아 놓은 자료구조

* 리스트 선언 방법:
    
        [변수1,변수2,변수3,…]

In [ ]:
x = [1,15,37] #리스트를 변수에 저장
print(x) #리스트 출력

[1, 15, 37]

In [ ]:
a = [1,2,3] #정수 저장 가능
b = ['a', 'b', 'c'] #문자 저장 가능
c = [True, False] #불리언 저장 가능
d = [] #비어있는 상태로 선언 가능
e = [[1,2],['ㄱ','ㄴ','ㄷ']] #리스트 안에 리스트 저장 가능

print(a)
print(b)
print(c)
print(d)
print(e)
#리스트는 유연하고 제약이 없는 자료구조이다.

[1, 2, 3]
['a', 'b', 'c']
[True, False]
[]
[[1, 2], ['ㄱ', 'ㄴ', 'ㄷ']]

**2-2 for를 이용한 반복**

* 리스트 안의 값을 모두 순회할 때까지 반복
* for를 이용한 반복문의 문법 구조:
        for 카운터변수 in 리스트:
            반복할 구문
            반복할 구문

In [ ]:
numbers = [1,2,3,4]
for i in numbers:
  print(i)

1
2
3
4

In [ ]:
for i in numbers:
  print("hello")

hello
hello
hello
hello

In [ ]:
for i in numbers:
  print(i+5)

6
7
8
9

In [ ]:
names = ['미나','재석','미주','준하','동훈']

for i in names:
  print("Hi",i,", nice to meet you!")

Hi 미나 , nice to meet you!
Hi 재석 , nice to meet you!
Hi 미주 , nice to meet you!
Hi 준하 , nice to meet you!
Hi 동훈 , nice to meet you!

**2-3 range 명령어**

* n개의 값을 가진 리스트를 간편하게 생성하고 싶을 때 사용
* range를 통해 만들어진 리스트에는 0부터 n-1까지 총 n개의 값이 저장됨.

* range를 이용한 반복문의 문법 구조:
        for 카운터변수 in range(숫자)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
  print("hello")

hello
hello
hello
hello
hello

In [ ]:
for i in range(5):
  print(i**2)

0
1
4
9
16

**연습문제**

1. 1월부터 12월까지 바꾸어가며 영어로 출력하는 반복문을 설계해보시오.

In [ ]:
month = ["January","February","March","April","May","June","July","August","September","Actober","November","December"]
for i in month:
  print("One of the months of the year is",i)

One of the months of the year is January
One of the months of the year is February
One of the months of the year is March
One of the months of the year is April
One of the months of the year is May
One of the months of the year is June
One of the months of the year is July
One of the months of the year is August
One of the months of the year is September
One of the months of the year is Actober
One of the months of the year is November
One of the months of the year is December

2. 주어진 8개의 섭씨온도 [15,30,25,30,75,60,95,100]에 대하여 각각을 화씨온도로 변환하여 출력하는 프로그램을 설계하시오.

In [ ]:
Celsius = [15,30,25,30,75,60,95,100]
for i in Celsius:
  print("섭씨온도",i,"℃를 화씨온도로 변환한 값은",i*1.8+32,"℉입니다.")

섭씨온도 15 ℃를 화씨온도로 변환한 값은 59.0 ℉입니다.
섭씨온도 30 ℃를 화씨온도로 변환한 값은 86.0 ℉입니다.
섭씨온도 25 ℃를 화씨온도로 변환한 값은 77.0 ℉입니다.
섭씨온도 30 ℃를 화씨온도로 변환한 값은 86.0 ℉입니다.
섭씨온도 75 ℃를 화씨온도로 변환한 값은 167.0 ℉입니다.
섭씨온도 60 ℃를 화씨온도로 변환한 값은 140.0 ℉입니다.
섭씨온도 95 ℃를 화씨온도로 변환한 값은 203.0 ℉입니다.
섭씨온도 100 ℃를 화씨온도로 변환한 값은 212.0 ℉입니다.

3. 다음과 같은 숫자의 리스트 [11,10,31,3,66,17,42,99,20] 중에서 짝수를 골라서 순서대로 출력하는 프로그램을 설계하시오.

In [ ]:
number = [11,10,31,3,66,17,42,99,20] 
for i in number:
  if i%2==0:
    print(i)

10
66
42
20

4. *을 계단형태로 출력하고자 한다. 반복문을 사용하여 30층 짜리 계단을 출력하는 프로그램을 설계해보시오.

In [ ]:
for i in range(30):
  print("*"*(i+1))

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************

**2-4 변수 업데이트**

* =의 오른쪽 부분의 연산이 모두 이루어져 값으로 변환된 후 변수에 저장된다.
* 변수에 값을 할당하기 전 =의 오른쪽 부분의 연산이 먼저 이루어진다.
* 이를 이용하여 변수 자신을 업데이트 할 수 있다.

In [ ]:
a = 3
n = a+3 #n=6
print(n)

6

In [ ]:
n = 3
n = n+3 #n=6
n = n+3 #n=9
n = n+3 #n=12
n = n+3 #n=15
print(n)

15

**연습문제**

1. 1부터 50까지 연속된 값의 곱을 하나의 변수로 업데이트하며 계산해보시오.

In [ ]:
k=1
for i in range(50):
  k = k*(i+1)

print("50팩토리얼의 값은",k,"입니다.")

50팩토리얼의 값은 30414093201713378043612608166064768844377641568960512000000000000 입니다.

2. 1부터 100까지의 연속된 값 중 홀수만 골라서 합하는 프로그램을 작성하시오.

In [ ]:
k=0
for i in range(101):
  if i%2==1:
    k=k+i

print("홀수의 총 합은",k,"입니다.")

홀수의 총 합은 2500 입니다.

3. 1부터 100까지 연속된 값 중 3의 배수 또는 7의 배수인 숫자의 갯수를 구하려고 한다. 프로그램을 설계해보시오.

In [ ]:
multiple_of_3=0
multiple_of_7=0
multiple_of_21=0
for i in range(100):
  if (i+1)%3==0:
    multiple_of_3=multiple_of_3+1
  elif (i+1)%7==0:
    if (i+1)%3!=0:
      multiple_of_7=multiple_of_7+1

print("3의 배수 또는 7의 배수인 숫자의 개수는",multiple_of_3+multiple_of_7-multiple_of_21,"개 입니다.")

3의 배수 또는 7의 배수인 숫자의 개수는 43 개 입니다.

**2-5 중첩반목문**

In [ ]:
for i in range(2): #아래 과정 두 번 반복
  print("hello") #hello 한 번 출력
  for i in range(3):
    print("world") #world 세 번 출력

hello
world
world
world
hello
world
world
world

In [ ]:
for i in [1,2,3]: #리스트 안의 i값이 다 할당될 때까지 반복
  for j in [4,5,6]: #i값이 정해진 상태에서 반복문 실행
    print(i,j) #하나의 i값에 대하여 리스트 안의 j값이 다 할당될 때까지 반복

1 4
1 5
1 6
2 4
2 5
2 6
3 4
3 5
3 6

**연습문제**

1. 구구단을 출력하는 프로그램을 작성해보시오.

In [ ]:
for i in range(9):
  print("구구단",(i+1),"단입니다.")
  for j in range(9):
    print(i+1,"*",j+1,"=",(i+1)*(j+1))

구구단 1 단입니다.
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
구구단 2 단입니다.
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
구구단 3 단입니다.
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
구구단 4 단입니다.
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
구구단 5 단입니다.
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
구구단 6 단입니다.
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
구구단 7 단입니다.
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
구구단 8 단입니다.
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
구구단 9 단입니다.
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

2. 프랑스의 수학자 페르마의 마지막 정리는 다음과 같다.

페르마(Ferma)의 마지막 정리:

        $n$이 2보다 큰 자연수인 경우에, $a^n+b^n=c^n$이 되는 자연수 $a,b,c$는 존재하지 않는다.

$n$이 3이고, $a,b,c$가 1부터 10까지의 자연수일 때 페르마의 마지막 정리가 사실임을 중첩 반복문을 써서 보인다.


(힌트:1부터 10까지 반복되는 for반복문이 3개 중첩되어야 한다.)

In [ ]:
k=0
for a in range(10):
  for b in range(10):
    for c in range(10):
      n=3
      p=((a+1)**n)+((b+1)**n)
      q=((c+1)**n)
      if p!=q:
        k=k+1
if k==1000:
  print("n=3일 때 1부터 10까지의 모든 값에 대하여 a^n+b^n=c^n을 만족시키는 값이 없으므로 페르마의 정리는 성립한다.")
else:
  print("n=3일 때 1부터 10까지의 모든 값에 대하여 a^n+b^n=c^n을 만족시키는 값이 존재하므로 페르마의 정리는 성립하지 않는다.")

n=3일 때 1부터 10까지의 모든 값에 대하여 a^n+b^n=c^n을 만족시키는 값이 없으므로 페르마의 정리는 성립한다.

3. 별 출력


(1) 1개부터 10개까지 계단식 출력

(2) 1개부터 10개까지 역계단식 출력

(3) 10개까지 계단식으로 갔다가 역계단식으로 출력

In [ ]:
#3-1
for i in range(10):
  print("*"*(i+1))

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
#3-2
for i in range(10):
  print("*"*(10-i))

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
#3-3
for i in range(20):
  if (i+1)<=10:
    print("*"*(i+1))
  else:
    print("*"*(20-i))

*
**
***
****
*****
******
*******
********
*********
**********
**********
*********
********
*******
******
*****
****
***
**
*

4. 어떤 주식의 가격은 매일 한 번의 동전을 던져서 앞 면이 나오면 전날 가격의 2배가 되고, 뒷면이 나오면 전날 가격의 절반이 된다. 1일에 주식의 가격이 1024원이었을 때, 4일 주식의 가격이 나올 수 있는 경우를 모두 구한다.

In [ ]:
price=1024
day2=[2,0.5]
day3=[2,0.5]
for i in day2:
  for j in day3:
    if i==2:
      p='앞면'
    else:
      p='뒷면'
    if j==2:
      q='앞면'
    else:
      q='뒷면'
    print("2일에 동전이",p,", 3일에 동전에",q,"일 때 4일 주식의 가격은",price*i*j,"원 입니다.")

2일에 동전이 앞면 , 3일에 동전에 앞면 일 때 4일 주식의 가격은 4096 원 입니다.
2일에 동전이 앞면 , 3일에 동전에 뒷면 일 때 4일 주식의 가격은 1024.0 원 입니다.
2일에 동전이 뒷면 , 3일에 동전에 앞면 일 때 4일 주식의 가격은 1024.0 원 입니다.
2일에 동전이 뒷면 , 3일에 동전에 뒷면 일 때 4일 주식의 가격은 256.0 원 입니다.